[Unit]
Description=EC2 Monitoring Agent
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/monitor-agent/agent/agent.py
WorkingDirectory=/opt/monitor-agent
Restart=always
User=ec2-user

[Install]
WantedBy=multi-user.target
