[Unit]
Description=EC2 Monitoring Server
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/opt/monitor_agent/ec2-monitoring-system/server
ExecStart=/opt/monitor_agent/ec2-monitoring-system/server/venv/bin/python /opt/monitor_agent/ec2-monitoring-system/server/server.py
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
